.masonryGrid {
    display: flex;
    margin-left: calc(-1 * var(--static-space-16));
    width: 100%;
}

.masonryGridColumn {
    padding-left: var(--static-space-16);
    background-clip: padding-box;
}

.gridItem {
    margin-bottom: var(--static-space-16);
}

.details {
    visibility: hidden;
    opacity: 0;
}

.trigger {
    &:hover {
        .details {
            visibility: visible;
            opacity: 1;
        }
    }
}